

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    color: red; 
    } 

    .item {
        background-color: lightblue;
        padding: 20px;
        text-align: center;
        }